In [1]:
import pandas as pd

In [2]:
data = {
    'Student': ['Fazliya', 'Boomika', 'Evangline', 'Dharani', 'Amrutha'],
    'Maths': [85, 86, 87, 88, 30],
    'Java': [72, 40, 24, 78, 90],
    'C++': [82, 58, 80, 90, 40]
}

In [8]:
df = pd.DataFrame(data)
print(df)

     Student  Maths  Java  C++
0    Fazliya     85    72   82
1    Boomika     86    40   58
2  Evangline     87    24   80
3    Dharani     88    78   90
4    Amrutha     30    90   40

In [9]:
df['Total'] = df[['Maths', 'Java', 'C++']].sum(axis=1)
print(df)

     Student  Maths  Java  C++  Total
0    Fazliya     85    72   82    239
1    Boomika     86    40   58    184
2  Evangline     87    24   80    191
3    Dharani     88    78   90    256
4    Amrutha     30    90   40    160

In [10]:
passing_threshold = 35
df['Maths_Pass'] = df['Maths'] >= passing_threshold
df['Java_Pass'] = df['Java'] >= passing_threshold
df['C++_Pass'] = df['C++'] >= passing_threshold

df['Pass'] = df[['Maths_Pass', 'Java_Pass', 'C++_Pass']].all(axis=1)
print(df)

     Student  Maths  Java  C++  Total  Maths_Pass  Java_Pass  C++_Pass   Pass
0    Fazliya     85    72   82    239        True       True      True   True
1    Boomika     86    40   58    184        True       True      True   True
2  Evangline     87    24   80    191        True      False      True  False
3    Dharani     88    78   90    256        True       True      True   True
4    Amrutha     30    90   40    160       False       True      True  False

In [11]:
df['Average'] = df[['Maths', 'Java', 'C++']].mean(axis=1)
print(df)

     Student  Maths  Java  C++  Total  Maths_Pass  Java_Pass  C++_Pass   Pass  \
0    Fazliya     85    72   82    239        True       True      True   True
1    Boomika     86    40   58    184        True       True      True   True
2  Evangline     87    24   80    191        True      False      True  False
3    Dharani     88    78   90    256        True       True      True   True
4    Amrutha     30    90   40    160       False       True      True  False

     Average
0  79.666667
1  61.333333
2  63.666667
3  85.333333
4  53.333333

In [12]:
df_final = df.drop(columns=['Maths_Pass', 'Java_Pass', 'C++_Pass'])
print(df_final)

     Student  Maths  Java  C++  Total   Pass    Average
0    Fazliya     85    72   82    239   True  79.666667
1    Boomika     86    40   58    184   True  61.333333
2  Evangline     87    24   80    191  False  63.666667
3    Dharani     88    78   90    256   True  85.333333
4    Amrutha     30    90   40    160  False  53.333333

In [16]:
df_final.isnull()

   Student  Maths   Java    C++  Total   Pass  Average
0    False  False  False  False  False  False    False
1    False  False  False  False  False  False    False
2    False  False  False  False  False  False    False
3    False  False  False  False  False  False    False
4    False  False  False  False  False  False    False

In [17]:
df_final.describe

<bound method NDFrame.describe of      Student  Maths  Java  C++  Total   Pass    Average
0    Fazliya     85    72   82    239   True  79.666667
1    Boomika     86    40   58    184   True  61.333333
2  Evangline     87    24   80    191  False  63.666667
3    Dharani     88    78   90    256   True  85.333333
4    Amrutha     30    90   40    160  False  53.333333>

In [18]:
df_final.info

<bound method DataFrame.info of      Student  Maths  Java  C++  Total   Pass    Average
0    Fazliya     85    72   82    239   True  79.666667
1    Boomika     86    40   58    184   True  61.333333
2  Evangline     87    24   80    191  False  63.666667
3    Dharani     88    78   90    256   True  85.333333
4    Amrutha     30    90   40    160  False  53.333333>

In [19]:
df_final.shape

(5, 7)

In [20]:
df_final.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool