In [3]:
import pandas as pd
file_path = r'C:\Users\fazli\OneDrive\Documents\students.csv'
df = pd.read_csv(file_path)
print(df)

     Student  Maths  Java  C++
0    Boomika     85    78   82
1    Fazliya     59    60   58
2  Evangline     76    72   80
3    Dharani     95    88   90
4    Amrutha     45    52   40

In [3]:
import pandas as pd
file_path = "students.xlsx"
df = pd.read_excel(file_path)
print(df.head())

     Student  Maths  Java  C++
0    Boomika     85    78   82
1    Fazliya     59    60   58
2  Evangline     76    72   80
3    Dharani     95    88   90
4    Amrutha     45    52   40

In [4]:
print(df.tail())

     Student  Maths  Java  C++
0    Boomika     85    78   82
1    Fazliya     59    60   58
2  Evangline     76    72   80
3    Dharani     95    88   90
4    Amrutha     45    52   40

In [5]:
print(df)

     Student  Maths  Java  C++
0    Boomika     85    78   82
1    Fazliya     59    60   58
2  Evangline     76    72   80
3    Dharani     95    88   90
4    Amrutha     45    52   40

In [6]:
print(df.head(3))

     Student  Maths  Java  C++
0    Boomika     85    78   82
1    Fazliya     59    60   58
2  Evangline     76    72   80

In [7]:
print(df.tail(3))

     Student  Maths  Java  C++
2  Evangline     76    72   80
3    Dharani     95    88   90
4    Amrutha     45    52   40

In [8]:
print(df.describe())

          Maths       Java        C++
count   5.00000   5.000000   5.000000
mean   72.00000  70.000000  70.000000
std    20.07486  14.282857  20.542639
min    45.00000  52.000000  40.000000
25%    59.00000  60.000000  58.000000
50%    76.00000  72.000000  80.000000
75%    85.00000  78.000000  82.000000
max    95.00000  88.000000  90.000000

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  5 non-null      object
 1   Maths    5 non-null      int64
 2   Java     5 non-null      int64
 3   C++      5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes
None